<body>
  <div class="container-fluid">
    <div class="row">
        <%# ↓↓サイドバー↓↓ %>
        <%= render "shared/side_bar", locals: {users: @users} %>
        <%# ↑↑サイドバー↑↑ %>
        <main class="col-md-9 ms-sm-1 ">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-5 pb-2 mb-3 border-bottom">
          <h1 class="h2"><%= @user.name %>さんの進捗</h1>
          <%# ↓↓新規見込先登録ボタン↓↓ %>
          <%= render "shared/new_customer_button" %>
          <%# ↑↑新規見込先登録ボタン↑↑ %>
        </div>

        <%# ↓↓メイン画面ー↓↓ %>
        <%= render "shared/main_index", locals: {customers: @customers, user: @user} %>
        <%# ↑↑メイン画面ー↑↑ %>

        <div class="card__wrapper">     
          <div class="card" style="width: 18rem;">
            <div class="card-header">
              <h3 class="text-center"> <%= link_to '見込社数', customer_path(@user.id), method: :get, class: "text-decoration-none"%> </h3>
            </div>
            <div class="card-body">
              <h1 class="display-1"> <%=@customers.count %> </h1>
            </div>
            <div class="card-footer">
              <h5 class="text-center"> 目標 50 </h5>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <div class="card-header">
              <a href="#" class="card-link"> 
                <h3 class="text-center">アポ成約数</h3>
              </a>
            </div>
            <div class="card-body">
              <h1 class="display-1">11</h1>
            </div>
            <div class="card-footer">
              <h5 class="text-center">目標 20</h5>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <div class="card-header">
              <a href="#" class="card-link"> 
                <h3 class="text-center">訪問件数</h3>
              </a>
            </div>
            <div class="card-body">
              <h1 class="display-1">8</h1>
            </div>
            <div class="card-footer">
              <h5 class="text-center">目標 10</h5>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <div class="card-header">
              <a href="#" class="card-link"> 
                <h3 class="text-center">見込件数</h3>
              </a>
            </div>
            <div class="card-body">
              <h1 class="display-1">8</h1>
            </div>
            <div class="card-footer">
              <h5 class="text-center">目標 20</h5>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <div class="card-header">
              <a href="#" class="card-link"> 
                <h3 class="text-center">提案社数</h3>
              </a>
            </div>
            <div class="card-body">
              <h1 class="display-1">6</h1>
            </div>
            <div class="card-footer">
              <h5 class="text-center">目標 15</h5>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <div class="card-header">
              <a href="#" class="card-link"> 
                <h3 class="text-center">成約数</h3>
              </a>
            </div>
            <div class="card-body">
              <h1 class="display-1">2</h1>
            </div>
            <div class="card-footer">
              <h5 class="text-center">目標 10</h5>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</body>