<div class="card__wrapper ">

          <div class="card" style="width: 18rem;">
            <div class="card-header ">
              <% if @user %>
               <h3 class="text-center"> <%= link_to '見込件数', prospect_path(@user.id), method: :get, class: "text-decoration-none"%> </h3>
              <% else %>
               <h3 class="text-center"> <%= link_to '見込件数', prospects_path, method: :get, class: "text-decoration-none"%> </h3>
              <% end %>
            </div>
            <div class="card-body">
              <h1 class="display-1"> 
                 <% count = 0 %>
                 <% @customers.each do |customer| %>
                    <% if customer.status_id == 2 %>
                      <%  count += 1 %>
                    <% end %>
                 <% end %>
                 <%= count %> 
              </h1>
            </div>
            <div class="card-footer">
              <h5 class="text-center"> 目標 50 </h5>
            </div>
          </div>
          

          <div class="card" style="width: 18rem;">
            <div class="card-header">
              <% if @user %>
               <h3 class="text-center"> <%= link_to '提案中', proposal_path(@user.id), method: :get, class: "text-decoration-none"%> </h3>
              <% else %>
               <h3 class="text-center"> <%= link_to '提案中', proposals_path, method: :get, class: "text-decoration-none"%> </h3>
              <% end %>
            </div>
            <div class="card-body">
              <h1 class="display-1"> 
                 <% count = 0 %>
                    <% @customers.each do |customer| %>
                        <% if customer.status_id == 3 %>
                          <%  count += 1 %>
                        <% end %>
                    <% end %>
                 <%= count %> 
              </h1>
            </div>
            <div class="card-footer">
              <h5 class="text-center"> 目標 50 </h5>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <div class="card-header">
              <% if @user %>
               <h3 class="text-center"> <%= link_to '保留', hold_path(@user.id), method: :get, class: "text-decoration-none"%> </h3>
              <% else %>
               <h3 class="text-center"> <%= link_to '保留', holds_path, method: :get, class: "text-decoration-none"%> </h3>
              <% end %>
            </div>
            <div class="card-body">
              <h1 class="display-1">
                 <% count = 0 %>
                   <% @customers.each do |customer| %>
                       <% if customer.status_id == 4 %>
                         <%  count += 1 %>
                       <% end %>
                   <% end %>
                 <%= count %> 
              </h1>
            </div>
            <div class="card-footer">
              <h5 class="text-center">目標 10</h5>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <div class="card-header">
              <% if @user %>
               <h3 class="text-center"> <%= link_to '敗退件数', loss_path(@user.id), method: :get, class: "text-decoration-none"%> </h3>
              <% else %>
               <h3 class="text-center"> <%= link_to '敗退件数', losses_path, method: :get, class: "text-decoration-none"%> </h3>
              <% end %>
            </div>
            <div class="card-body">
              <h1 class="display-1">
                 <% count = 0 %>
                   <% @customers.each do |customer| %>
                       <% if customer.status_id == 5 %>
                         <%  count += 1 %>
                       <% end %>
                   <% end %>
                 <%= count %> 
              </h1>
            </div>
            <div class="card-footer">
              <h5 class="text-center">目標 20</h5>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <div class="card-header">
              <% if @user %>
               <h3 class="text-center"> <%= link_to '成約件数', win_path(@user.id), method: :get, class: "text-decoration-none"%> </h3>
              <% else %>
               <h3 class="text-center"> <%= link_to '成約件数', wins_path, method: :get, class: "text-decoration-none"%> </h3>
              <% end %>
            </div>
            <div class="card-body">
              <h1 class="display-1">
                 <% count = 0 %>
                   <% @customers.each do |customer| %>
                       <% if customer.status_id == 6 %>
                         <%  count += 1 %>
                       <% end %>
                   <% end %>
                 <%= count %> 
              </h1>
            </div>
            <div class="card-footer">
              <h5 class="text-center">目標 15</h5>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <div class="card-header">
              <h3 class="text-center text-primary"> 受注率</h3>
            </div>
            <div class="card-body">
              <h1 class="display-1">
                  <% count_losses = 0 %>
                  <% count_wins = 0 %>
                  <% @customers.each do |customer| %>
                     <% if customer.status_id == 5 %>
                        <%  count_losses += 1 %>
                     <% elsif customer.status_id == 6%>
                        <%  count_wins += 1 %>
                     <% end %>
                  <% end %>
                  <% if (count_losses + count_wins) == 0 %>
                    <%= '-'%>
                  <% else %>
                    <% percent = (count_wins * 100)/(count_losses + count_wins)%> 
                    <%= percent %>
                  <% end %>
                  <a class="h3 text-decoration-none text-body">%</a>
              </h1>
             </div>
             <div class="card-footer">
               <h5 class="text-center">目標 70%</h5>
             </div>
           </div>
          </div>