<%=form_with model: @customer, local: true do |f|%>
  <div class='chat-room-form__field'>
    <div class='chat-room-form__field--left'>
      <%= f.label :顧客名, class: 'chat-room-form__label'%>
    </div>
    <div class='chat-room-form__field--right'>
      <%= f.text_field :name, class: 'chat-room-form__input', placeholder: '顧客名を入力してください'%>
    </div>
  </div>

  <div class='chat-room-form__field'>
    <div class='chat-room-form__field--left'>
      <%= f.label :商品名, class: 'chat-room-form__label'%>
    </div>
    <div class='chat-room-form__field--right'>
      <%= f.select :product, {'リース': 'リース', '保険': '保険', 'ガソリンカード': 'ガソリンカード', 'ETCカード': 'ETCカード', 'メンテナンス受託': 'メンテナンス受託'}, { include_blank: '選択してください'}, { class: 'chat-room-form__input text-secondary', required:true} %>
    </div>
  </div>

  <div class='chat-room-form__field'>
    <div class='chat-room-form__field--left'>
      <%= f.label :"粗利(千円)", class: 'chat-room-form__label'%>
    </div>
    <div class='chat-room-form__field--right'>
      <%= f.text_field :count, class: 'chat-room-form__input', placeholder: '見込粗利を入力してください'%>
    </div>
  </div>

  <div class='chat-room-form__field'>
    <div class='chat-room-form__field--left'>
      <%= f.label :提案状況, class: 'chat-room-form__label'%>
    </div>
    <div class='chat-room-form__field--right'>
      <%= f.collection_select(:status_id, Status.all, :id, :name, {}, {class:"chat-room-form__input text-secondary"}) %>
    </div>
  </div>


    <div class='chat-room-form__field--left'></div>
    <div class='chat-room-form__field--button'>
      <%= f.submit "登録", class: "btn btn-secondary"%>
    </div>
  </div>
<% end %>